<div class="container">
  <div class="bg-light p-5 rounded shadow mt-5 border">
    <h1 class="display-4">About us!</h1>
    <hr class="my-4">
    <p class="lead">Welcome to our fitness tracker! Our goal is to help you achieve your fitness goals by providing you with a simple
      and intuitive platform to track your activities and monitor your progress. Whether you're an experienced athlete or just getting 
      started on your fitness journey, our app is designed to be easy to use and adaptable to your needs.
      With our fitness tracker, you can log all of your workouts and activities, from weightlifting and cardio to yoga and walking. 
      You can set goals for yourself and track your progress over time, so you can see how far you've come and stay motivated to keep 
      pushing forward.At our fitness tracker, we believe that everyone deserves to feel good in their body and achieve their best health. 
      That's why we've designed our app to be inclusive and accessible, with a range of features to suit all levels and abilities. 
      Whether you're looking to lose weight, build muscle, or just stay active and healthy, we're here to support you every step of the
      way. So what are you waiting for? Start tracking your fitness journey today and see what you can achieve!</p>
  </div>
</div>
