<div class="bg-light p-5 rounded">
  <h1 class="display-4">Join the Move and Groove Community!</h1>
  <p class="lead">A fitness tracker site for logging your activities.</p>
  <hr class="my-4">
  <p>Already a member? Sign in below to track your progress.</p>
  <a class="btn btn-primary btn-lg me-3" href="/users/sign_up" role="button">Sign Up</a>
  <a class="btn btn-secondary btn-lg" href="/users/sign_in" role="button">Sign In</a>
</div>
