<div id="<%= dom_id activity %>">
  <p>
    <strong>Name:</strong>
    <%= activity.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= activity.date %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= activity.duration %>
  </p>

</div>
